{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        }
      }
    ]
  ]
  //   "plugins": [
  //     "./plugins/cleanConsole.js"  // 引用自定义插件
  //   ]
}
